[Unit]
Description=Configure CPU settings from /boot/config.txt
After=multi-user.target

[Service]
ExecStart=/etc/init.d/hobot-cpu-config start
TimeoutStartSec=1min

[Install]
WantedBy=multi-user.target

