[Desktop Entry]
Version=1.0
Type=Link
Name=Developer
Name[zh_CN]=开发者社区
Comment=Developer and forums
Icon=/usr/share/backgrounds/xfce/rdk_logo.png
URL=https://developer.horizon.cc/
