[Desktop Entry]
Version=1.0
Type=Link
Name=NodeHub
Name[zh_CN]=NodeHub
Comment=NodeHub
Icon=/usr/share/backgrounds/xfce/rdk_logo.png
URL=https://developer.horizon.cc/nodehub/
