[Desktop Entry]
Version=1.0
Type=Link
Name=RDK Manual
Comment=RDK User Manual
Icon=/usr/share/backgrounds/xfce/rdk_logo.png
URL=https://developer.horizon.cc/documents_rdk/
