[Desktop Entry]
Version=1.0
Type=Link
Name=Forum
Name[zh_CN]=技术论坛
Comment=Forum
Icon=/usr/share/backgrounds/xfce/rdk_logo.png
URL=https://developer.horizon.cc/forum/
